.form-admin {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 8px black; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.7); 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 125px;
}

.background-container {
    background-image: url('./resources/img/bookbinbackground.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}