.book-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo-image {
    width: 200px;
    height: 46px;
    overflow: hidden;
    /* Other styles for your logo if needed */
}

.book-image {
    max-width: 150px; /* Adjust the size as needed */
    margin-right: 20px; /* Adjust the margin between image and text */
}

.book-details {
    flex-grow: 1; /* Allow the details div to grow and take remaining space */
    color: white;
}

.prices {
    margin-top: 10px; /* Adjust the margin between details and prices */
}

/* Additional styling as needed */
