.book-container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 575px;
    margin-top: 250px;
}

.logo-image {
    width: 200px;
    height: 46px;
    overflow: hidden;
}

.book-image {
    max-width: 150px; 
    margin-right: 20px;
}

.book-details {
    flex-grow: 1; 
    color: white;
}

.prices {
    margin-top: 10px; 
}
