body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./resources/img/bookbinbackground.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
 
.logo-image {
    width: 200px;
    height: 46px;
    overflow: hidden;
}
 
header {
    width: 100%;
    z-index: 1000;
}
 
.navbar {
    background-color: rgba(255, 255, 255, 0.9);
}
 
.carousel-container {
    position: relative;
    margin-top:50px;
    width: 80%;
    display: flex;
    align-items: center;
}
 
 
 
.carousel {
    overflow-x: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
 
.carouselbox {
    white-space: nowrap;
    padding-bottom: 10px;
}
 
.scroll-left, .scroll-right {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    padding: 10px;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
 
.scroll-left {
    left: -40px;
}
 
.scroll-right {
    right: -40px;
}
 
.carouselbox img {
    width: 147px;
    height: 200px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 
.carouselbox img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
 
.carousel::-webkit-scrollbar {
    width: 12px;
}
 
 
.carousel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
 
.carousel::-webkit-scrollbar-thumb:hover {
    background: #555;
}
 
.carousel::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}
#searchBar {
    border-radius: 10px;

}
