body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}

.logo-image {
    width: 200px;
    height: 46px;
    overflow: hidden;
}

.content {
    padding: 20px;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.welcome-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 10px; 
}

.welcome-container p {
    font-size: 16px; 
    line-height: 1.4; 
    margin: 0; 
}

.custom-button {
    background-color: rgb(183, 78, 78); 
    color: white; 
    border-color: rgb(183, 78, 78);
}

.custom-button:hover {
    background-color: rgb(183, 78, 78); 
    border-color: rgb(183, 78, 78); 
}

#tokenAmount {
    color: white;
    text-align: center;
    font-size: 18px; /* Adjust the font size as needed */
}



